# dirs
Library/
AssetsLogs/
Temp/
obj/
out/
out/build/
unity/build/
build/

# files
*.sln
*.csproj
.leu
Thumbs.db

# ide
.idea
.vscode
.vs

# VR samples
unity/Assets/SteamVR*
unity/Assets/TutorialInfo*
unity/Assets/VRSampleScenes*
unity/Assets/VRStandardAssets*
unity/Assets/Editor/CrossPlatformInput*
unity/Assets/VRTK*